/* Reset some default styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    animation: fadeIn 2s ease-in-out;
}

/* Header title with glowing effect */
header h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    animation: glow 2s linear infinite, slideIn 1s ease-in-out;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.7); /* Red glow */
    }
    50% {
        text-shadow: 0 0 10px rgba(0, 255, 0, 0.7); /* Green glow */
    }
    100% {
        text-shadow: 0 0 10px rgba(0, 0, 255, 0.7); /* Blue glow */
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Header subtitle */
header p {
    font-size: 1.2rem;
}

/* Section headers */
section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
    animation: fadeIn 2s ease-in-out;
}

/* Basic section styling */
section {
    background: linear-gradient(179.4deg, #0c1445 -16.9%, #471e54 119.9%);
    color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeIn 2s ease-in-out;
}

section:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* List items within sections */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
    animation: fadeIn 2s ease-in-out;
}

/* Links within sections */
a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* Styling for the LinkedIn button */
.linkedin-button {
    display: inline-block;
    background-color: #0077B5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.linkedin-button:hover {
    background-color: #00548E;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Styling for the Email button */
.email-button {
    display: inline-block;
    background-color: #FF5733;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.email-button:hover {
    background-color: #E6451B;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Add space between the button and the icon */
.email-button i, .linkedin-button i {
    margin-right: 10px;
    margin-top: -2px;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    animation: fadeIn 2s ease-in-out;
}
